* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cousine', 'Courier New', Courier, monospace !important;
}

body {
  margin: 0;
  font-family: 'Cousine', 'Courier New', Courier, monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: 'Cousine', 'Courier New', Courier, monospace !important;
}

#root {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
